.carousel {
    position: relative;
    display: flex;

    margin-left: 10rem;
    display: flex;

    @include respond (tab-port) {
        margin-left: 3rem;
    }

    &__btns {
        margin: 5rem 5rem 10rem 5rem;
        display: flex;
        justify-content: space-between;

        @include respond (mobile) {
            margin-bottom: 30rem;
        }

        &__next {
            margin-left: auto;
        }
    }
}