.item__count {
    display: flex;
    flex-direction: column;
    position: relative;

    &__number {
        position: absolute;
        top: -50%;
        right: 1rem;
        background-color: rgba(12, 6, 44, 0.513);
        width: 3rem;
        text-align: center;
        border-radius: 50%;
        color: white;
    }
}