.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__text {
        width: 30%;
        // BASE
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
        
        @include respond(tab-port) {
            width: 100%;
            margin-right: 0rem;
            text-align: center;
        }

        @include respond(mobile) {
            padding: 0rem 2rem;
        }

        // Elements
        & > * {
            margin-bottom: 1.5rem;
        }

        // Button width override
        & > button {
            width: 60%;
            
            @include respond(tab-port) {
                margin: 0rem auto;
                width: 20%;
                font-size: 1.4rem
            }

            @include respond(mobile) {
                margin: 0rem auto;
                width: 30%;
                font-size: 1rem;
            }
        }

        &__intro {
            font-size: 1.8rem;
        }

        &__header {
            font-size: 3rem;
            font-weight: 500;
        }

        &__secondary {
            font-size: 1.8rem;
            font-weight: 500;
            color: #777;
        }
    }

    &__image {
        width: 50%;

        & > img {
            width: 100%;
            border-radius: 3rem;;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}