.large__card {
    display: flex;
    justify-content: center;
    width: 90%;
    
    margin: 3rem auto;
    position: relative;

    @include respond(mobile) {
        &:not(:last-child) {
            margin-bottom: 10rem;
        }
    }

    &__hero {
        width: 50%;
        margin: 0rem 5rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-port) {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: 0rem 3rem;
            justify-content: center;
            z-index: 10;
            align-items: center;
            text-align: center;
        }
        

        & > * {
            margin-bottom: 3rem;
        }

        &__section {
            font-weight: 500;
            @include respond(mobile) {
                font-size: 1.8rem;
            }
        }

        &__link {
            text-decoration: none;

            &__text {
                text-decoration: underline;
                font-weight: 500;
            }
        }

        &__title {
            font-size: 3rem;
            font-weight: 500;
            color: #00154D;

            @include respond(mobile) {
                font-size: 3.6rem;
            }
        }

        &__subtitle {
            font-size: 2.2rem;
            font-weight: 300;
            color: #00154D;

            @include respond(tab-port) {
                width: 75%;
            }
        }
    }

    &__btn {
        width: 30rem;
        text-align: left;
        padding: 0rem;
        background-color: transparent;

        @include respond(tab-port) {
            position: absolute;
            bottom: 1rem;
            right: 3rem;
            text-align: right;
        }
    }

    &__image__container {
        width: 50%;
        height: 75rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3rem;

        @include respond(tab-port) {
            opacity: 0.4;
        }
    }
}

.flipped {
    flex-direction: row-reverse;
    
    & > .large__card__hero {
        padding-left: 8rem;

        @include respond(tab-port) {
            padding-left: 0rem;
        }
    }
    
}