.modal {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 10;

    background-color: rgba(41, 38, 38, 0.8);

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__btn {
        font-size: 1.8rem;
        position: absolute;
        top: 10%;
        right: 10%;
        background-color: transparent;
        border: none;
        color: white;
        z-index: 10;

        @include respond(tab-port) {
            top: 5%;
        }
    }
}